

<div id="home" class="container mt-4 home-space">
  <!-- Contenu Home -->
  <div class="row align-items-center">
    <!-- Partie gauche -->
    <div class="col-md-6 divdesc mb-4 mb-md-0">
      <h1 class="title-with-typing">
        <span class="static-text">Je m'appelle</span>
        <span class="typing-text highlight" [style.--chars]="charCount">{{nom}}</span>
      </h1>
      <h2>Ingénieur en informatique</h2>
      <p>
        Spécialisé dans le développement et la gestion de solutions logicielles. Expérience dans la conception et le déploiement d’applications web et backend, ainsi que dans l’optimisation des processus de développement.
      </p>
      <div class="d-flex gap-3">
        <a href="https://facebook.com" target="_blank">
          <img src="https://cdn-icons-png.flaticon.com/24/733/733547.png" alt="Facebook">
        </a>
        <a href="https://twitter.com" target="_blank">
          <img src="https://cdn-icons-png.flaticon.com/24/733/733579.png" alt="Twitter">
        </a>
        <a href="https://linkedin.com" target="_blank">
          <img src="https://cdn-icons-png.flaticon.com/24/733/733561.png" alt="LinkedIn">
        </a>
        <a href="https://github.com" target="_blank">
          <img src="https://cdn-icons-png.flaticon.com/24/733/733553.png" alt="GitHub">
        </a>
      </div>
    </div>

    <!-- Partie droite : GIF animé -->
    <div class="col-md-6 divimg text-center">
      <img src="assets/img1.gif" class="space-img" alt="GIF Profil">
    </div>
  </div>
</div>

<app-about id="about"></app-about>
<app-education id="education"></app-education>
<app-projects id="projects"></app-projects>
<app-skills id="skills"></app-skills>
<app-contact id="contact"></app-contact>